body {
    font-family: sans-serif;
  }
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .common-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  .form-input {
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid blueviolet;
    padding-left: 15px;
    color: blueviolet;
  }
  .form-button {
    height: 35px;
    border: 1px solid blueviolet;
    color: blueviolet;
    cursor: pointer;
  }
  .error-p{
    color: red;
  }
  
  .p-message{
    color: green;
    text-align: center;
  }

  /* .carousel-caption {
    background-color: #0000008f;
    border-radius: 5px;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    border: 5px;
  } */

  .carousel-inner img {
    width: 57%;
    height: 500px;
    object-fit: cover;
    margin-left: 275px;
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
  }
  